<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>xxxBlog</title>
  </head>
  <body>
    <header>
      <h1>xxxBlog</h1>
    </header>
    <div class="contents">
<!--        <form class="clearfix">
        <%= image_tag 'images.png' %>
        <textarea rows="4" cols="40"></textarea>
        <div class="button-box">
          <input type="submit">
        </div>
      </form> -->
      
      <%= render @tweets %>
     
    </div>
    
  </body>
</html>
